.todo-item {
    display: block;
    background-color: #090936;
    border-radius: 10px;
    color: #fff;
    padding: 12px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.todo-check {
    display: inline-block;
    width: 10px;    
}